:root {
    --amplify-primary-color: #1976d2;
    --amplify-primary-tint: var(--amplify-primary-color);
    --amplify-primary-shade: var(--amplify-primary-color);
    --amplify-secondary-color: #263238;
    --amplify-secondary-tint: var(--amplify-secondary-color);
    --amplify-secondary-shade: var(--amplify-secondary-color);
    --amplify-font-family: 'Barlow', sans-serif;
}
